{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
  <h1>{{ page.title }}</h1>
  <div>
    <small>{{ page.date }}</small>
    {% for tag in page.tags.all %}
      <a href="{% slugurl 'tags' %}?tag={{ tag }}"><small style="border: 1px solid lightgray; lineheight: 1em; border-radius: 1em; padding: 0 0.5em">{{ tag }}</small></a>
    {% endfor %}
  </div>
  <p>
    {{ page.intro }}
  </p>
  {{ page.body|richtext }}

  {% for gallery_image in page.gallery_images.all %}
    <picture>
      {% image gallery_image.image fill-320x240 %}
      <caption>{{ gallery_image.caption }}</caption>
    </picture>
  {% endfor %}

{% endblock content %}
